<!--



-->

<div class="nonogram-generate-controls">

	<select data-nonogram-generate-width class="width" aria-label="Width">
		<template data-nonogram-generate-width-options>
			<option></option>
		</template>
	</select>

	<label class="x">x</label>

	<select data-nonogram-generate-height class="height" aria-label="Height">
		<template data-nonogram-generate-height-options>
			<option></option>
		</template>
	</select>

	<button data-nonogram-generate-button class="nonogram-button button icon generate">Generate</button>

	<button data-nonogram-game-reset class="nonogram-button button icon reset">Reset</button>
	<button data-nonogram-game-solve class="nonogram-button button icon solve">Solve</button>

</div>
