/************************************************** Small screens **************************************************/


@media only screen {


    /*	site header	*/
    #site-header {
        background: #eee;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #site-header h1 {
        margin: 0;
    }

    #site-header .definition {
        padding: 0 20px;
        margin-left: auto;
    }


    /*	content	*/
    main { padding: 20px 3.2vw 0; }

    .wrapper {
        display: grid;
        grid-template-columns: [col] 1fr;
        grid-template-rows: [row] auto [row] auto [row];
        grid-gap: 30px;
    }

    .puzzle { overflow: auto; }

    .nonogram-console h2 { text-transform: lowercase; }


    /*
    .wrapper > div { outline: 1px solid blue; }
    */


}








