<!--


-->
<table class="nonogram-puzzle-grid">
	<thead>
	<tr>
		<th class="preview">
			<table class="nonogram-preview width-5 height-5">
				<tbody>
				<tr>
					<td data-index="0" class="filled"></td>
					<td data-index="1" class=""></td>
					<td data-index="2" class="filled"></td>
					<td data-index="3" class="filled"></td>
					<td data-index="4" class=""></td>
				</tr>
				<tr>
					<td data-index="5" class=""></td>
					<td data-index="6" class=""></td>
					<td data-index="7" class="filled"></td>
					<td data-index="8" class=""></td>
					<td data-index="9" class="filled"></td>
				</tr>
				<tr>
					<td data-index="10" class=""></td>
					<td data-index="11" class="filled"></td>
					<td data-index="12" class=""></td>
					<td data-index="13" class="filled"></td>
					<td data-index="14" class="filled"></td>
				</tr>
				<tr>
					<td data-index="15" class="filled"></td>
					<td data-index="16" class="filled"></td>
					<td data-index="17" class=""></td>
					<td data-index="18" class="filled"></td>
					<td data-index="19" class=""></td>
				</tr>
				<tr>
					<td data-index="20" class="filled"></td>
					<td data-index="21" class="filled"></td>
					<td data-index="22" class=""></td>
					<td data-index="23" class="filled"></td>
					<td data-index="24" class="filled"></td>
				</tr>
				</tbody>
			</table>
		</th>
		<th class="hint top" data-column="0">
			<div class="fill"><span>1</span><span>2</span></div>
		</th>
		<th class="hint top" data-column="1">
			<div class="fill"><span>3</span></div>
		</th>
		<th class="hint top" data-column="2">
			<div class="fill"><span>2</span></div>
		</th>
		<th class="hint top" data-column="3">
			<div class="fill"><span>1</span><span>3</span></div>
		</th>
		<th class="hint top" data-column="4">
			<div class="fill"><span>2</span><span>1</span></div>
		</th>
	</tr>
	</thead>
	<tbody>
	<tr data-row="0">
		<th class="hint left" data-row="0">
			<div class="fill"><span>1</span><span>2</span></div>
		</th>
		<td class="puzzle-cell flippable tl playable solution-positive" data-index="0" data-column="0" data-row="0">
			<div class="fill"></div>
		</td>
		<td class="puzzle-cell flippable  playable solution-negative" data-index="1" data-column="1" data-row="0">
			<div class="fill"></div>
		</td>
		<td class="puzzle-cell flippable  playable solution-positive" data-index="2" data-column="2" data-row="0">
			<div class="fill"></div>
		</td>
		<td class="puzzle-cell flippable  playable solution-positive" data-index="3" data-column="3" data-row="0">
			<div class="fill"></div>
		</td>
		<td class="puzzle-cell flippable tr playable solution-negative" data-index="4" data-column="4" data-row="0">
			<div class="fill"></div>
		</td>
	</tr>
	<tr data-row="1">
		<th class="hint left" data-row="1">
			<div class="fill"><span>1</span><span>1</span></div>
		</th>
		<td class="puzzle-cell flippable  playable solution-negative" data-index="5" data-column="0" data-row="1">
			<div class="fill"></div>
		</td>
		<td class="puzzle-cell flippable  playable solution-negative" data-index="6" data-column="1" data-row="1">
			<div class="fill"></div>
		</td>
		<td class="puzzle-cell flippable  playable solution-positive" data-index="7" data-column="2" data-row="1">
			<div class="fill"></div>
		</td>
		<td class="puzzle-cell flippable  playable solution-negative" data-index="8" data-column="3" data-row="1">
			<div class="fill"></div>
		</td>
		<td class="puzzle-cell flippable  playable solution-positive" data-index="9" data-column="4" data-row="1">
			<div class="fill"></div>
		</td>
	</tr>
	<tr data-row="2">
		<th class="hint left" data-row="2">
			<div class="fill"><span>1</span><span>2</span></div>
		</th>
		<td class="puzzle-cell flippable  playable solution-negative" data-index="10" data-column="0" data-row="2">
			<div class="fill"></div>
		</td>
		<td class="puzzle-cell flippable  playable solution-positive" data-index="11" data-column="1" data-row="2">
			<div class="fill"></div>
		</td>
		<td class="puzzle-cell flippable  playable solution-negative" data-index="12" data-column="2" data-row="2">
			<div class="fill"></div>
		</td>
		<td class="puzzle-cell flippable  playable solution-positive" data-index="13" data-column="3" data-row="2">
			<div class="fill"></div>
		</td>
		<td class="puzzle-cell flippable  playable solution-positive" data-index="14" data-column="4" data-row="2">
			<div class="fill"></div>
		</td>
	</tr>
	<tr data-row="3">
		<th class="hint left" data-row="3">
			<div class="fill"><span>2</span><span>1</span></div>
		</th>
		<td class="puzzle-cell flippable  playable solution-positive" data-index="15" data-column="0" data-row="3">
			<div class="fill"></div>
		</td>
		<td class="puzzle-cell flippable  playable solution-positive" data-index="16" data-column="1" data-row="3">
			<div class="fill"></div>
		</td>
		<td class="puzzle-cell flippable  playable solution-negative" data-index="17" data-column="2" data-row="3">
			<div class="fill"></div>
		</td>
		<td class="puzzle-cell flippable  playable solution-positive" data-index="18" data-column="3" data-row="3">
			<div class="fill"></div>
		</td>
		<td class="puzzle-cell flippable  playable solution-negative" data-index="19" data-column="4" data-row="3">
			<div class="fill"></div>
		</td>
	</tr>
	<tr data-row="4">
		<th class="hint left" data-row="4">
			<div class="fill"><span>2</span><span>2</span></div>
		</th>
		<td class="puzzle-cell flippable bl playable solution-positive" data-index="20" data-column="0" data-row="4">
			<div class="fill"></div>
		</td>
		<td class="puzzle-cell flippable  playable solution-positive" data-index="21" data-column="1" data-row="4">
			<div class="fill"></div>
		</td>
		<td class="puzzle-cell flippable  playable solution-negative" data-index="22" data-column="2" data-row="4">
			<div class="fill"></div>
		</td>
		<td class="puzzle-cell flippable  playable solution-positive" data-index="23" data-column="3" data-row="4">
			<div class="fill"></div>
		</td>
		<td class="puzzle-cell flippable br playable solution-positive" data-index="24" data-column="4" data-row="4">
			<div class="fill"></div>
		</td>
	</tr>
	</tbody>
</table>