/************************************************** Small screens **************************************************/


@media only screen {

    /*	foundation overrides & helpers	*/
    .row { max-width: none; margin-bottom: 20px; }


    /*	site header	*/
    #site-header { position: relative; height: 57px; background: #eee; padding: 10px 20px; }
    #site-header h1 { font-size: 5.2vw; line-height: 35px; }
    #site-header h1:before { content: '\f00a'; font-family: FontAwesome; margin: 0 10px 0 0; }


    /*	content	*/
    main { padding: 20px 3.2vw 0; }

    .grid-container {}

    .tabs-panel { position: relative; padding: 16px 0; }

    .tabs-title > a { padding: 1.25rem 1.1rem; }

    .button.generate:before,
    .tabs-title.generate a:before { content: '\f074'; }

    .button.create:before,
    .tabs-title.create a:before { content: '\f040'; }

    .button.hints:before,
    .tabs-title.hints a:before { content: '\f160'; }

    .button.fill-positive:before { content: '\f0c8'; }
    .button.fill-negative:before { content: '\f00d'; }
    .button.reset:before { content: '\f021'; }
    .button.solve:before { content: '\f128'; }


    /*	logic pic	*/
    table.nonogram { position: relative; width: auto; table-layout: fixed; transition: transform 1s ease; }
    table.nonogram:after { transition: opacity; }

    table.nonogram tbody { border: none; }

    table.nonogram tr { background-color: #fff !important; }

    table.nonogram td { vertical-align: middle; padding: 0; border: 0; border-radius: 0; }

    table.nonogram td .fill { width: 100%; height: 100%; border: 2px solid #ccc; text-align: center; padding: 5px; border-radius: 10px; background-color: #fff; }

    table.nonogram td.flippable .fill { transition: transform 0.3s ease; transform: rotateY(0deg); transform-style: preserve-3d; }
    table.nonogram td.flippable.flipped .fill { transform: rotateY(180deg); }


    table.nonogram td.highlight .fill { opacity: 0.5; }
    table.nonogram td.preview { padding: 10px; transition: opacity 1s ease; }

    table.nonogram td.puzzle-cell { min-width: 20px; max-width: 40px; background: #ccc; }
    table.nonogram td.puzzle-cell.playable { cursor: pointer; }

    table.nonogram td.puzzle-cell.tl { border-top-left-radius: 10px; }
    table.nonogram td.puzzle-cell.tr { border-top-right-radius: 10px; }
    table.nonogram td.puzzle-cell.bl { border-bottom-left-radius: 10px; }
    table.nonogram td.puzzle-cell.br { border-bottom-right-radius: 10px; }

    table.nonogram td.puzzle-cell .fill {}

    table.nonogram td.puzzle-cell.user-positive .fill,
    table.nonogram td.puzzle-cell.solution-positive .fill { background: #222; }
    table.nonogram td.puzzle-cell.user-negative .fill,
    table.nonogram td.puzzle-cell.solution-negative .fill { background-color: #fff; background-image: url(../../images/negative.png);
        background-position: 50% 50%; background-repeat: no-repeat; }


    table.nonogram td.hint { vertical-align: bottom; letter-spacing: -0.1em; transition: opacity 1s ease; }
    table.nonogram td.hint .fill { background-color: #ddd; border-color: #fff; }
    table.nonogram td.hint.top .fill { vertical-align: bottom; }
    table.nonogram td.hint.top span { display: block; }
    table.nonogram td.hint.left .fill { text-align: right; padding-right: 10px; }
    table.nonogram td.hint.left span { margin: 0 0 0 5px; }

    table.nonogram td.ai-solved:after { display: block; width: 18px; height: 18px; }
    table.nonogram td.ai-solved.ai-positive:after { content: url(../../images/positive.png); }
    table.nonogram td.ai-solved.ai-negative:after { content: url(../../images/negative.png); }

    table.nonogram td.row-column-highlight .fill,
    table.nonogram td.puzzle-cell.solution-negative.row-column-highlight .fill { background-color: #ddeef7; }
    table.nonogram td.puzzle-cell.playable.row-column-highlight.user-positive .fill,
    table.nonogram td.puzzle-cell.playable.row-column-highlight.solution-positive .fill { background: #000; }
	

    table.nonogram-preview { margin: 0 auto; border: none; border-radius: 9; }
    table.nonogram-preview tbody { border: none; }
    table.nonogram-preview td { border: none; border-radius: 0; line-height: 0; font-size: 0; padding: 0; min-width: 2px !important; max-width: 8px !important; }
    table.nonogram-preview td.filled { background: #222; }

    table.nonogram.solved { transform: scale(1.1, 1.1); }
    table.nonogram.solved:after { content: 'Solved!'; display: block; width: 100%; position: absolute; top: 50%; left: 0; margin-top: -15px; text-align: center;
        font-size: 30px;color: green; font-weight: 800; transform: rotate(-15deg);
        text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff; }
    table.nonogram.solved td.hint,
    table.nonogram.solved td.preview,
    table.nonogram.solved td.hint .fill,
    table.nonogram.solved td.preview .fill { opacity: 0; padding: 0; border: 0; width: 0px !important; height: 0px !important; }

    .grid-controls { padding: 0 0 20px 0; }
    .grid-controls .fill-type { padding: 0 0 20px 0; }
    .grid-controls .actions {}
    .grid-controls .button {}
    .grid-controls .button.fill-positive:before { margin: 0; }
    .grid-controls .button.fill-negative:before { margin: 0; }

    .grid-controls .actions .button { display: block; margin: 0 0 10px 0; }


    .console { width: 100%; background: #eee; padding: 20px;
        font-size: 10px; font-family: 'Courier New', monospace; line-height: 12px; }
    .console:before { content: 'Console'; display: block; font-family: 'Exo 2', sans-serif; font-weight: 700; font-size: 16px; margin: 0 0 10px 0; }
    .console span[data-index] { color: green; cursor: pointer; }

    .console .info {}
    .console .success { color: green; }
    .console .failure { color: red; }


    .controls { border-bottom: 1px solid #e6e6e6; }

    .controls label,
    .controls select { display: inline-block; }

    .controls input,
    .controls select { width: auto; margin-right: 20px; }

    .controls select { padding-right: 20px; }

    .controls .button { margin-bottom: 16px; }

    label.x { margin-left: -19px; }


    /*	generate	*/


}








