

/************************************************** Medium screens - min-width 641px **************************************************/


@media only screen and (min-width: 40.063em) {
	
	
	/*	foundation overrides & helpers	*/
	
	/*	.row.no-pad {	margin-left: -0.9375rem; margin-right: -0.9375rem; }	*/
	
	
	/*	site header	*/
	
	#site-header h1 {	font-size: 32px; line-height: 32px;	}
	
	
	/*	content	*/
	
	main {	padding: 20px;	}
	
	.tabs-panel {	padding: 16px;	}

}
 





